node_modules/
.expo/
dist/
mobil-2
npm-debug.*
*.idea/mobil-2.iml
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
